<launch>
	<arg name="no_static_map" default="true"/>

	<arg name="base_global_planner" default="navfn/NavfnROS"/>
	<arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>

	<param name ="use_sim_time" value="true"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

		<param name="base_global_planner" value="$(arg base_global_planner)"/>
		<param name="base_local_planner" value="$(arg base_local_planner)"/>

		<param name="local_costmap/width" value="5.0"/>
		<param name="local_costmap/height" value="5.0"/>


		<param name="global_costmap/width" value="100.0" if="$(arg no_static_map)"/>
		<param name="global_costmap/height" value="100.0" if="$(arg no_static_map)"/>

		<remap from="/cmd_vel" to="/pioneer3dx/cmd_vel"/>
		<!-- <param name="track_unknown_space" value="true"/> -->
	</node>
</launch>
