<?xml version="1.0" encoding="utf-8"?>	

<launch>
	<node name="mapping" pkg="octomap_server" type="octomap_server_node" respawn="false" output="screen">
		<param name = "base_frame_id" value = "base_link"/>
		<param name="frame_id" type="string" value="map" />
		<remap from = "cloud_in" to = "/cloud_out"/>
	</node>
</launch>
